@using Microsoft.AspNetCore.Http
@using ZEVMSWEB.Common
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 自由冒险岛Ver.27</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?@DateTime.Now.Ticks.ToString("x")" />
    <link rel="stylesheet" href="~/css/zevms027.css?@DateTime.Now.Ticks.ToString("x")" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> 自由冒险岛Ver.27</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                var loginData = Context.Session.Get<LoginDataViewModel>("LoginData");
                                if (loginData != null)
                                {
                                    <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#accountInfoModel">
                                        我的游戏角色
                                        <span class="badge badge-danger">New</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#loginModel">
                                        登录
                                        <span class="badge badge-danger">New</span>
                                    </a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Zevms027" asp-action="Index">Zevms027</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="zevms_bg">
        <div class="container">
            <main role="main" class="pb-3">
                @{ var currentActionName = string.Empty;
                    if (this.ViewContext.RouteData.Values["action"] != null)
                    {
                        currentActionName = this.ViewContext.RouteData.Values["action"].ToString();
                        if (currentActionName.Length >= 3)
                        {
                            currentActionName = currentActionName.Substring(0, 3);
                        }
                    }

                    var lwn = currentActionName.Equals("lwn", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var mgz = currentActionName.Equals("mgz", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var lsl = currentActionName.Equals("lsl", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var ppz = currentActionName.Equals("ppz", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var xqs = currentActionName.Equals("xqs", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var hpx = currentActionName.Equals("hpx", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var dhg = currentActionName.Equals("dhg", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var zyg = currentActionName.Equals("zyg", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var wph = currentActionName.Equals("wph", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var xjl = currentActionName.Equals("xjl", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var pqe = currentActionName.Equals("pqe", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var bxr = currentActionName.Equals("bxr", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var str = currentActionName.Equals("str", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var zsm = currentActionName.Equals("zsm", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var dhl = currentActionName.Equals("dhl", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var xbt = currentActionName.Equals("xbt", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var phl = currentActionName.Equals("phl", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var hyz = currentActionName.Equals("hyz", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var qey = currentActionName.Equals("qey", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                    var hmg = currentActionName.Equals("hmg", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                }
                <div class="zevms_nav">
                    <a class="@lwn" asp-area="" asp-controller="Zevms027" asp-action="LWN" title="蓝蜗牛" id="nav_item_lwn"></a>
                    <a class="@mgz" asp-area="" asp-controller="Zevms027" asp-action="MGZ" title="蘑菇仔" id="nav_item_mgz"></a>
                    <a class="@lsl" asp-area="" asp-controller="Zevms027" asp-action="LSL" title="绿水灵" id="nav_item_lsl"></a>
                    <span class="@ppz" asp-area="" asp-controller="Zevms027" asp-action="PPZ" title="漂漂猪" id="nav_item_ppz"></span>
                    <span class="@xqs" asp-area="" asp-controller="Zevms027" asp-action="XQS" title="小青蛇" id="nav_item_xqs"></span>
                    <span class="@hpx" asp-area="" asp-controller="Zevms027" asp-action="HPX" title="红螃蟹" id="nav_item_hpx"></span>
                    <span class="@dhg" asp-area="" asp-controller="Zevms027" asp-action="DHG" title="大海龟" id="nav_item_dhg"></span>
                    <span class="@zyg" asp-area="" asp-controller="Zevms027" asp-action="ZYG" title="章鱼怪" id="nav_item_zyg"></span>
                    <span class="@wph" asp-area="" asp-controller="Zevms027" asp-action="WPH" title="顽皮猴" id="nav_item_wph"></span>
                    <span class="@xjl" asp-area="" asp-controller="Zevms027" asp-action="XJL" title="星精灵" id="nav_item_xjl"></span>
                    <span class="@pqe" asp-area="" asp-controller="Zevms027" asp-action="PQE" title="胖企鹅" id="nav_item_pqe"></span>
                    <span class="@bxr" asp-area="" asp-controller="Zevms027" asp-action="BXR" title="白雪人" id="nav_item_bxr"></span>
                    <span class="@str" asp-area="" asp-controller="Zevms027" asp-action="STR" title="石头人" id="nav_item_str"></span>
                    <span class="@zsm" asp-area="" asp-controller="Zevms027" asp-action="ZSM" title="紫色猫" id="nav_item_zsm"></span>
                    <span class="@dhl" asp-area="" asp-controller="Zevms027" asp-action="DHL" title="大灰狼" id="nav_item_dhl"></span>
                    <span class="@xbt" asp-area="" asp-controller="Zevms027" asp-action="XBT" title="小白兔" id="nav_item_xbt"></span>
                    <span class="@phl" asp-area="" asp-controller="Zevms027" asp-action="PHL" title="喷火龙" id="nav_item_phl"></span>
                    <span class="@hyz" asp-area="" asp-controller="Zevms027" asp-action="HYZ" title="火野猪" id="nav_item_hyz"></span>
                    <span class="@qey" asp-area="" asp-controller="Zevms027" asp-action="QEY" title="青鳄鱼" id="nav_item_qey"></span>
                    <span class="@hmg" asp-area="" asp-controller="Zevms027" asp-action="HMG" title="花蘑菇" id="nav_item_hmg"></span>
                </div>
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">登录您的游戏账号</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="inputAcc">账号</label>
                            <input type="email" class="form-control" id="inputAcc">
                        </div>
                        <div class="form-group">
                            <label for="inputPwd">密码</label>
                            <input type="password" class="form-control" id="inputPwd">
                        </div>
                        <span id="zevms-login-failed-tips" style="color:red;"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="zevms_login_button">登录</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Account Info Modal -->
    <div class="modal fade" id="accountInfoModel" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="accountInfoModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">我的游戏角色及信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        if (loginData != null)
                        {
                            <ul class="list-group">
                                @foreach (var w in loginData.Characters.Select(o => new { o.World, o.WorldName }).Distinct().OrderBy(o => o.World))
                                {
                                    <li class="list-group-item text-center"><strong>@w.WorldName</strong></li>
                                    @foreach (CharacterViewModel c in loginData.Characters.Where(o => o.World == w.World).OrderBy(o => o.Id))
                                    {
                                        <li class="list-group-item">
                                            <span>
                                                <span class="mx-1">@c.Name</span>
                                                <small class="text-info">(@c.JobName)</small>
                                            </span>
                                            <span class="badge badge-primary badge-pill py-1 px-2 ml-1">@c.Level</span>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                        else
                        {
                            <p>
                                暂无账号及角色信息。
                            </p>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="zevms-logout-button">退出登录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Select Character Modal -->
    <div class="modal fade" id="selectCharacterModel" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="selectCharacterModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">请选择游戏角色</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        if (loginData != null)
                        {
                            <div class="list-group">
                                @{
                                    if (loginData.Characters == null || loginData.Characters.Count == 0)
                                    {
                                        <span class="list-group-item text-center">您还没有可用角色。</span>
                                    }
                                    else
                                    {
                                        var wlist = loginData.Characters.Select(o => new { o.World, o.WorldName }).Distinct().OrderBy(o => o.World);
                                        foreach (var w in wlist)
                                        {
                                            <span class="list-group-item text-center"><strong>@w.WorldName</strong></span>
                                            var clist = loginData.Characters.Where(o => o.World == w.World).OrderBy(o => o.Id);
                                            foreach (CharacterViewModel c in clist)
                                            {
                                                <span class="list-group-item clearfix">
                                                    <span>
                                                        <span class="mx-1">@c.Name</span>
                                                        <small class="text-info">(@c.JobName)</small>
                                                    </span>
                                                    <span class="badge badge-primary badge-pill py-1 px-2 ml-1">@c.Level</span>
                                                    <button type="button" class="btn btn-default btn-sm float-right zevms_confirm_button" data-id="@c.Id" data-name="@(string.Format("[{0}] {1}", c.WorldName, c.Name))">选择</button>
                                                </span>
                                            }
                                        }
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <p>
                                请先登录。
                            </p>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ZEVMS 版权所有
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

<script>
        $('#inputAcc,#inputPwd').focus(function () {
            $('#zevms-login-failed-tips').text('');
        });

        $('#zevms_login_button').click(function () {
            var $btn = $(this);
            $btn.text('登录中……').attr('disabled', true);
            var accVal = $('#inputAcc').val();
            var pwdVal = $('#inputPwd').val();
            if (accVal.length > 4 && pwdVal.length > 4) {
                $.post("/Zevms027/Login", { acc: accVal, pwd: pwdVal }, function (res) {
                    if (res.code == 0) {
                        // 登录成功
                        var c = '@this.ViewContext.RouteData.Values["controller"]';
                        var a = '@this.ViewContext.RouteData.Values["action"]';
                        window.location.href = '/' + c + '/' + a;
                    } else {
                        // 登录失败
                        $('#zevms-login-failed-tips').text(res.msg);
                        $btn.text('登录').removeAttr('disabled');
                    }
                });
            }
        });

        $('#zevms-logout-button').click(function () {
            var $btn = $(this);
            $btn.text('登出中……').attr('disabled', true);
            $.post("/Zevms027/Logout", function (res) {
                var c = '@this.ViewContext.RouteData.Values["controller"]';
                var a = '@this.ViewContext.RouteData.Values["action"]';
                window.location.href = '/' + c + '/' + a;
            });
        });

        $('.zevms_confirm_button').click(function () {
            var $btn = $(this);
            $btn.text('处理中……').attr('disabled', true);
            $.post("/Zevms027/LWN_UserAction_Confirm", { id: $btn.data('id'), name: $btn.data('name') }, function (res) {
                alert(res.msg);
                $btn.text('选择').removeAttr('disabled');
                $('#selectCharacterModel').modal('hide');
            });
        });
</script>
</body>
</html>
