@model ZEVMSWEB.Common.PaginatedList<ZEVMSWEB.Models.CharacterViewModel>
@{
    Layout = "_Layout_Zevms027";
    ViewData["zevms027.css"] = @"<link rel=""stylesheet"" href=""/css/zevms027.css"" />";
}

<div class="zevms_container">
    <form class="form-inline" asp-action="MGZ_Characters" method="get" style="margin-bottom:12px;">
        <input class="form-control" type="text" id="SearchString" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="按名称搜索" />
        <button style="margin:0 6px;" type="submit" class="btn btn-primary">搜索</button>
        <a class="btn btn-default" asp-action="MGZ_Characters">清除搜索</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="MGZ_Characters" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">角色ID</a>
                </th>
                <th>名称</th>
                <th>
                    <a asp-action="MGZ_Characters" asp-route-sortOrder="@ViewData["LevelSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">等级</a>
                </th>
                <th>职业</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobName)
                        @*<a asp-action="Details" asp-route-id="@item.Id">详情</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="MGZ_Characters"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        上一页
    </a>

    <a asp-action="MGZ_Characters"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        下一页
    </a>
</div>